#homeTitle {
	line-height: 75px;
	padding-left: 30px;
	float: left;
}

#homeTitleImage {
	line-height: 75px;
	float: right;
}

#homeTitleImage img {
	height: 60px;
	vertical-align: middle;
}

#homeContent {
	padding: 10px;
}

.tree-node {
	height: 20px;
	line-height: 20px;
}

.tree-title {
	font-size: 16px;
}

.messager-body {
	padding: 10px 10px 20px 10px;
	font-size: 16px;
	color: red;
}