<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="mManagementDg"></div>

	<div id="mManageMentDl">
		<form id="mManagementForm" method="POST">
			<label>管理员账户</label><input class="easyui-textbox" name=""><br>
			<br> <label>管理员口令</label><input class="easyui-textbox" name=""><br>
			<br> <label>时间</label><input class="easyui-textbox" name="">
		</form>
	</div>

	<script type="text/javascript" src="js/m_mManagement.js"></script>
</body>
</html>