<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="sbManagementDg"></div>

	<div id="sbManageMentDl">
		<form id="sbManagementForm" method="POST">
			<table>
				<tr>
					<td>校车编号</td>
					<td><input class="easyui-textbox" name=""></td>
				</tr>
				<tr>
					<td>校车状态</td>
					<td><label><input id="sbStatusFree" type="radio"
							name="sbStatus">空闲</label><label><input
							id="sbStatusNotFree" type="radio" name="sbStatus">不空闲</label></td>
				</tr>
				<tr>
					<td>载人 数</td>
					<td><input class="easyui-textbox" name=""></td>
				</tr>
			</table>
		</form>
	</div>

	<script type="text/javascript" src="js/m_sbManagement.js"></script>
</body>
</html>